.token-list-placeholder {
  display: flex;
  align-items: center;
  padding-top: 36px;
  flex-direction: column;
  line-height: 22px;

  &__text {
    color: $text-secondary-inefficient;
    text-align: center;
    margin-top: 8px;

    @media screen and (max-width: 575px) {
      width: 60%;
    }
  }

  &__link {
    color: $text-primary-saturated;
  }
}
