.account-dropdown-name {
  font-family: 'AvenirNext-Regular', sans-serif;
}

.account-dropdown-balance {
  color: $dusty-gray;
  line-height: 19px;
}

.account-dropdown-edit-button {
  color: $dusty-gray;
  font-family: 'AvenirNext-Regular', sans-serif;

  &:hover {
    color: $white;
  }
}

.account-list-item {
  &__top-row {
    display: flex;
    position: relative;
  }

  &__account-balances {
    height: auto;
    border: none;
    background-color: transparent;
    color: #9b9b9b;
    margin-top: 4px;
    position: relative;
  }

  &__account-name {
    font-size: 16px;
  }

  &__icon {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -9px;
  }

  &__account-primary-balance,
  &__account-secondary-balance {
    font-family: 'AvenirNext-Regular', sans-serif;
    font-size: 12px;
  }

  &__account-primary-balance {
    color: $text-accent-saturated;
    border: none;
    outline: 0 !important;
  }

  &__account-secondary-balance {
    color: $dusty-gray;
  }

  &__account-address {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__dropdown {
    position: relative;
    padding: 8px 10px;
    color: $text-accent-saturated;
    &:hover {
      background: rgba($alto, .2);
      cursor: pointer;

      input {
        background: rgba($alto, .1);
      }
    }
  }
}
