.editable-label {

  &__input {
    font-size: 14px;
    border: 1px solid $alto;

    input {
      width: 100%;
    }

    &--error {
      border: 1px solid $monzo;
    }
  }

  &__icon-wrapper,
  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon-wrapper {
    position: relative;
    width: 15px;
    margin-right: -15px;
    font-size: 16px;
    z-index: 1;
    img {
      display: inline-block;
    }
  }

  &__text {
    width: 100%;
    padding-left: 30px;
    font-family: 'AvenirNext-Medium', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: inherit;
  }

  &__icon {
    color: $tundora;
  }
}
