.network-component--disabled {
  // border-color: transparent !important;
  cursor: default;

  .fa-caret-down {
    opacity: 0;
  }
}

.network-component.pointer {
  padding: 7px 3px;
  flex: 0 0 auto;
  display: flex;

  &.ethereum-network .menu-icon-circle div {
    background-color: rgba(56, 191, 76, 1) !important;
  }

  &.essentia-test-network .menu-icon-circle div {
    background-color: rgba(233, 21, 80, .7) !important;
  }

  &.kovan-test-network .menu-icon-circle div {
    background-color: rgba(105, 4, 150, .7) !important;
  }

  &.rinkeby-test-network .menu-icon-circle div {
    background-color: rgba(235, 179, 63, .7) !important;
  }
  &.essentia-test-network .menu-icon-circle div {
    background-color: rgba(8, 23, 238, 0.7) !important;
  }
}

.dropdown-menu-item {
  .menu-icon-circle,
  .menu-icon-circle--active {
    display: none;
    margin: 0 14px;
  }
  .fa-check {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: $blue;
    color: $white;
    text-align: center;
    line-height: 17px;
    font-size: 10px;
  }
}

.network-indicator {
  display: flex;
  align-items: center;
  font-size: .6em;

  .fa-caret-down {
    line-height: 15px;
    font-size: 12px;
    padding: 0 4px;
  }
}

.network-name {
  padding: 0 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  flex: 1 0 auto;
  color: $tundora;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'AvenirNext-Bold', sans-serif;
  color: #90a1b8;
}

.dropdown-menu-item .fa.delete {
    margin-right: 10px;
    display: none;
}

.dropdown-menu-item:hover .fa.delete {
    display: inherit;
}

.network-droppo {
  right: 2px;

  @media screen and (min-width: 576px) {
    right: calc(((100% - 85vw) / 2) + 2px);
  }

  @media screen and (min-width: 769px) {
    right: calc(((100% - 80vw) / 2) + 2px);
  }

  @media screen and (min-width: 1281px) {
    right: calc(((100% - 65vw) / 2) + 2px);
  }
}

.network-name-item {
  flex: 1;
  color: $text-accent-saturated;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 8px;
}

.network-check,
.network-check__transparent {
  color: $white;
  margin-left: 7px;
}

.network-check__transparent {
  width: 17px;
  height: 17px;
  margin: 0;
  border: 1px solid $tundora;
  border-radius: 50%;
}

.menu-icon-circle,
.menu-icon-circle--active {
  background: none;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  margin: 0 4px;
}

.menu-icon-circle--active {
  border: 1px solid $white;
  background: rgba(100, 100, 100, .4);
}

.menu-icon-circle div,
.menu-icon-circle--active div {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.menu-icon-circle--active div {
  opacity: 1;
}

.network-dropdown-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.network-dropdown-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: $scorpion;
}

.network-dropdown-title {
  margin-bottom: 3px;
  font-family: 'AvenirNext-Medium', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: $text-accent-saturated;
}

.network-dropdown-content {
  margin-bottom: 7px;
  color: $tundora;
  font-family: 'AvenirNext-Regular', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  color: #90a1b8;
}

.network-caret {
  margin: 0 8px 2px;
  font-size: 8px;
  color: $tundora;
}
