.welcome-screen {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  width: 100%;
  flex: 1 0 auto;
  padding: 70px 0;
  background: $white;
  max-width: 575px;

  @media screen and (max-width: 575px) {
    padding: 24px;
  }

  &__info {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    &__logo {
      width: 88px;
      height: 92px;
      background: url("./images/logo/big-logo.svg")
    }

    &__header {
      font-size: 2.1em;
      margin-bottom: 8px;
      margin-top: 90px;
      font-family: AvenirNext-Medium;
      letter-spacing: -1.1px;
      color: #46576e;

      @media screen and (max-width: 575px) {
        max-width: 300px;
      }
    }

    &__copy {
      font-size: .9em;
      width: 400px;
      text-align: center;
      line-height: 1.38;
      color: #90a1b8;
      line-height: 1.38;
      font-family: AvenirNext-Regular;

      @media screen and (max-width: 575px) {
        max-width: 300px;
        text-align: left
      }
    }
  }

  &__button {
    margin-top: 45px;
    color: $white;
    line-height: 1.23;
    letter-spacing: 1px;
    padding: 14px;
    font-family: Roboto, san-serif;
  }
}
