.transaction-breakdown-row {
  font-size: 14px;
  display: flex;
  margin-bottom: 7px;

  &__title {
    margin-right: 12px;
    font-family: 'AvenirNext-Regular', sans-serif;
    font-weight: normal;
    line-height: normal;
    color: $text-secondary-inefficient;
  }

  &__value {
    font-family: 'AvenirNext-Medium';
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: $text-accent-saturated;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
