.transaction-list-item-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__col {
    max-width: 100%;
    overflow: hidden;
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
