.transaction-list-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $white;
  transition: all .2s linear;

  &:not(:first-child) {
    .transaction-list-item__grid {
      border-top: 1px solid $background-accent-inefficient;
    }
  }

  &.is-open {
    .transaction-list-item__icon .fa {
      transform: rotate(-180deg);
      color: $text-primary-saturated;
    }
  }

  &__grid {
    cursor: pointer;
    width: 100%;
    padding: 14px 22px 14px 19px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 28px;
    grid-template-areas:
      "nonce status primary-amount icon"
      "action status primary-amount icon";
    transition: all .2s linear;

    @media screen and (max-width: $break-small) {
      grid-template-columns: 5fr 3fr 28px;
      grid-template-areas:
        "nonce primary-amount icon"
        "action primary-amount icon"
        "status primary-amount icon";
    }
  }

  &__action {
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: action;
    align-self: end;
    font-family: 'AvenirNext-Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: $text-accent-saturated;
    padding: 4px 0;

    @media screen and (min-width: $break-small) {
      padding-right: 8px;
    }
  }

  &__status {
    grid-area: status;
    align-self: center;
    margin: 4px 0;

    @media screen and (min-width: $break-small) {
      margin-right: 5px;
    }
  }

  &__nonce {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: nonce;
    align-self: start;
    padding: 4px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(70, 87, 110, 0.54);

    @media screen and (min-width: $break-small) {
      padding-right: 8px;
    }
  }

  &__amount {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'AvenirNext-Bold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: $text-accent-saturated;
    align-self: center;

    &--primary {
      text-align: end;
      grid-area: primary-amount;
    }
  }

  &__retry {
    background: #d1edff;
    border-radius: 12px;
    font-size: .75rem;
    padding: 4px 12px;
    cursor: pointer;
    margin-top: 8px;

    @media screen and (max-width: $break-small) {
      font-size: .5rem;
    }
  }

  &__details-container {
    padding: 14px 22px 18px 19px;
    width: 100%;
  }

  &__expander {
    max-height: 0px;
    width: 100%;

    &--show {
      max-height: 1000px;
      transition: max-height 700ms ease-out;
    }
  }

  &__icon {
    grid-area: icon;
    text-align: right;
    font-size: 0;
    align-self: center;
    margin-top: -4px;

    .fa {
      font-size: 14px;
      color: $text-secondary-inefficient;
      transition: all .2s linear;
    }
  }
}
