/*
  Generic
 */

@import './reset.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'AvenirNext-Medium', sans-serif;
  color: #4d4d4d;
  font-weight: 400;
  background: $white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  min-height: 500px;
}

.app-root {
  overflow: hidden;
  position: relative;
}

.app-primary {
  display: flex;
}

input:focus,
textarea:focus {
  outline: none;
}

/* stylelint-disable */
#app-content {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $break-small) {
    background-color: $white;
  }
}
/* stylelint-enable */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #df6b0e;
}

input.large-input,
textarea.large-input {
  padding: 8px;
}

input.large-input {
  height: 36px;
}

.allcaps {
  text-transform: uppercase;
}

.input-label {
  padding-bottom: 10px;
  font-weight: 400;
  display: inline-block;
}

input.form-control {
  padding-left: 10px;
  font-size: 14px;
  height: 40px;
  border: 1px solid $alto;
  border-radius: 3px;
  width: 100%;
  font-family: 'AvenirNext-Medium', sans-serif;

  &::-webkit-input-placeholder {
    font-weight: 100;
    color: $dusty-gray;
  }

  &::-moz-placeholder {
    font-weight: 100;
    color: $dusty-gray;
  }

  &:-ms-input-placeholder {
    font-weight: 100;
    color: $dusty-gray;
  }

  &:-moz-placeholder {
    font-weight: 100;
    color: $dusty-gray;
  }

  &--error {
    border: 1px solid $monzo;
  }

  &:focus {
    border: 1px solid $text-primary-saturated;
  }
}

.hide-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Scroll
.scroll::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: $background-transparent;
  background-color: $background-transparent;
  transition: all .4s;
}

.scroll:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px transparentize($background-page-secondary, .7);
  background-color: $background-scroll;
  transition: all .4s;

}
.scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  transition: all .4s;
  background-color: transparent;
}
.scroll:hover::-webkit-scrollbar {
  transition: all .4s;
  background-color: transparent;
}
// !Scroll

// form send
.send-v2__gas-fee-display .is-amount-wrapper {
  display: none;
}
.currency-display__currency-symbol {
  display: none;
}
.send-v2__gas-fee-display .currency-display__currency-symbol {
  display: block;
}
// !form send