@import './token-list-placeholder/index';

.token-list {
  &__title {
    font-size: .75rem;
  }

  &__tokens-container {
    display: flex;
    flex-direction: column;
  }

  &__token {
    transition: 200ms ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 25px 8px 0;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid rgba(155, 164, 176, 0.06);
    position: relative;
    background: url('images/check.svg') no-repeat 100% center;

    &--selected {
      background: url('images/checked.svg') no-repeat 100% center;
    }

    &--disabled {
      opacity: .4;
      pointer-events: none;
    }
  }

  &__token-icon {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-color: $white;
    border: solid 1px #eaeaea;
    margin-right: 12px;
    flex: 0 0 auto;
  }

  &__token-data {
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 0;
  }

  &__token-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    color: $text-accent-saturated;

  }
  
  &__token-name-sumbol {
    font-size: 12px;
    color: $text-secondary-inefficient;
  }
}
