.page-container {
  width: 370px;
  background-color: $white;
  z-index: 25;
  display: flex;
  flex-flow: column;
  border: 1px solid $background-accent-inefficient;
  padding: 70px 30px 54px 30px;
  border-radius: 4px;

  &__header {
    display: flex;
    flex-flow: column;
    flex: 0 0 auto;
    position: relative;

    &--no-padding-bottom {
      padding-bottom: 0;
    }
  }

  &__header-close {
    position: absolute;
    top: -45px;
    right: 0;
    cursor: pointer;
    background: url('images/cancel.svg') no-repeat center;
    width: 16px;
    height: 16px;
    z-index: 2;
  }

  &__header-row {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex: 0 0 auto;
    align-self: center;

    .btn-default,
    .btn-confirm {
      font-size: 13px;
    }

    header {
      display: flex;
      flex-flow: row;
      justify-content: center;
      padding: 16px;
      flex: 0 0 auto;
    }

    footer {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      padding: 0 16px 16px;
      flex: 0 0 auto;

      a, a:hover {
        text-decoration: none;
        cursor: pointer;
        font-size: 0.75rem;
        text-transform: uppercase;
        color: #2f9ae0;
      }
    }
  }

  &__footer-button {
    font-size: 13px;
    text-transform: uppercase;
    width: 100px;
    height: 44px;
    margin: 0 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__back-button {
    color: #2f9ae0;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
  }


  &__title {
    color: $text-accent-saturated;
    font-size: 24px;
    font-family: 'AvenirNext-Medium';
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  &__subtitle {
    padding-top: 10px;
    line-height: initial;
    font-family: 'AvenirNext-Regular';
    font-size: 14px;
    text-align: center;
    color: $text-secondary-inefficient;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 16px;
    width: 280px;
  }

  &__tab {
    flex: 1;
    min-width: 5rem;
    padding: 9px 2px;
    color: $text-secondary-inefficient;
    font-family: 'AvenirNext-DemiBold';
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-bottom: none;
    text-transform: uppercase;

    &:last-of-type {
      margin-right: 0;
    }

    &--selected {
      color: $text-primary-saturated;
      border-bottom: 2px solid $text-primary-saturated;
    }
  }

  &--full-width {
    width: 100% !important;
  }

  &--full-height {
    height: 100% !important;
    max-height: initial !important;
    min-height: initial !important;
  }

  &__content {
    // overflow-y: auto;
    flex: 1;
  }

  &__warning-container {
    background: $linen;
    padding: 20px;
    display: flex;
    align-items: start;
  }

  &__warning-message {
    padding-left: 15px;
  }

  &__warning-title {
    font-weight: 500;
  }

  &__warning-icon {
    padding-top: 5px;
  }
}

@media screen and (max-width: 250px) {
  .page-container {
    &__footer {
      flex-flow: column-reverse;
    }

    &__footer-button {
      width: 100%;
      margin-bottom: 1rem;
      margin-right: 0;

      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .page-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: $white;
    border-radius: 0;
    flex: 1;
  }
}

@media screen and (min-width: 576px) {
  .page-container {
    max-height: 82vh;
    min-height: 570px;
    flex: 0 0 auto;
    margin-right: auto;
    margin-left: auto;
  }
}
