.transaction-status {
  height: 26px;
  width: 79px;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #5e6064;
  display: flex;
  justify-content: center;
  font-family: 'AvenirNext-Regular', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  text-align: center;

  &--confirmed {
    background-color: #eefee9;
    color: #23bc7b;
  }

  &--approved, &--submitted {
    background-color: #fef6e9;
    color: #f5a623;
  }
}
