.transaction-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
  margin-top: 10px;
  border-top: 1px solid $background-accent-inefficient;

  &__completed-transactions {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__header {
    flex: 0 0 auto;
    padding: 21px 19px;
    text-transform: uppercase;
    font-family: 'AvenirNext-Bold', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: $text-secondary-inefficient;

    @media screen and (max-width: $break-small) {
      padding: 10px 0 10px 16px;
    }
  }

  &__transactions {
    flex: 1;
    overflow-y: auto;
  }

  &__pending-transactions {
    margin-bottom: 16px;
  }

  &__empty {
    flex: 1;
    display: grid;
    grid-template-rows: 35% 1fr;
    padding-top: 8px;
  }

  &__empty-text {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    color: $silver;
  }
}
