@import './modal-content/index';

.modal-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  border-radius: 8px;

  @media screen and (max-width: 575px) {
    max-height: 450px;
  }

  &__content {
    overflow-y: auto;
    flex: 1;
    padding: 16px 32px;

    @media screen and (max-width: 575px) {
      justify-content: center;
      padding: 40px 20px 20px;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;

    &-text {
      display: none;
      padding: 12px;
    }
  }
  &__header-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      background: url(images/cancel.svg) no-repeat center;
      width: 16px;
      height: 16px;
    }
  }

  &__footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0 16px 16px;
    flex: 0 0 auto;

    &-button {
      min-width: 0;
      margin-right: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
